<div class="body-login" ng-controller="LoginCtrl as vm">
    <div class="container">
        <div class="login-icon">
            <i class="glyphicon glyphicon-tint"></i> DigitalOcean
        </div>
        <div class="login-form">
            <div class="login-title">
                Login
            </div>
            <div class="login-input-parts">
                <input class="login-input" ng-model="vm.name" placeholder="Email Address" />
                <input class="login-input" ng-model="vm.password" placeholder="Password" />
                <!--<input class="login-input button" type="button" ng-click="vm.getLoginInit()" />-->
                <button class="login-input button" ng-click="vm.getLoginInit(vm.name, vm.password)">Login</button>
            </div>
            <div class="login-forgot">
                Forgot password?
            </div>
        </div>
        <div class="login-signup">
            Don't have an account? <a href="#">Sign Up</a>
        </div>
    </div>
</div>