<div class="col-xs-12">
    <table class="table">
        <thead>
            <td>Nome</td>
            <td>Valor</td>
            <td>Ações</td>
        </thead>
        <tbody>
            <tr ng-repeat="credit in bcCtrl.billingCycle.credits">
                <td>
                    <input ng-model="credit.name" class="form-control" placeholder="Informe o nome" ng-readonly="bcCtrl.tabDelete">
                </td>
                <td>
                    <input ng-model="credit.value" ng-change="bcCtrl.calculateValues()" class="form-control" placeholder="Informe um valor" ng-readonly="bcCtrl.tabDelete" type="number">
                </td>
                <td>
                    <button class="btn btn-success" ng-disabled="bcCtrl.tabDelete" ng-click="bcCtrl.addCredit($index)">
                       <i class="fa fa-plus" aria-hidden="true"></i>
                   </button>
                    <button class="btn btn-warning" ng-disabled="bcCtrl.tabDelete" ng-click="bcCtrl.cloneCredit($index,credit)">
                        <i class="fa fa-clone" aria-hidden="true"></i>
                   </button>
                    <button class="btn btn-danger" ng-disabled="bcCtrl.tabDelete" ng-click="bcCtrl.deleteCredit($index)">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                   </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>