<div role="form">
    <div class="box-body">
        <div class="form-grop">
            <field model="bcCtrl.billingCycle.name"  placeholder="Informe o nome" id="name" label="Nome" grid="12 6 4" readonly="bcCtrl.tabDelete"></field>
            <field model="bcCtrl.billingCycle.month" placeholder="Informe o mês" id="month" label="Mês" grid="12 6 4" type="number" readonly="bcCtrl.tabDelete"></field>
            <field model="bcCtrl.billingCycle.year"  placeholder="Informe o ano" id="year" label="Ano" grid="12 6 4" type="number" readonly="bcCtrl.tabDelete"></field>                        
        </div>        
    </div>
    <div class="box-footer">
        <button ng-if="bcCtrl.tabCreate" class="btn btn-primary" ng-click="bcCtrl.create(bcCtrl)">Incluir</button>
        <button ng-if="bcCtrl.tabUpdate" class="btn btn-info">Alterar</button>
        <button ng-if="bcCtrl.tabDelete" class="btn btn-danger" ng-click="bcCtrl.delete()">Excluir</button>
        <button class="btn btn-default" ng-click="bcCtrl.refresh()">Cancelar</button>
    </div>
</div>